<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
  </head>
  <body>
    <h1>Login</h1>
    <p>Digite os dados para acessar a plataforma.</p>
    <form action="cadastro.html" method="post">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" placeholder="Digitar Nome" />
      <br />

      <label for="passowrd">Senha:</label>
      <input
        type="password"
        id="passowrd"
        name="Senha"
        placeholder="Digite a Senha"
      /><br /><br />

      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>
